// -----------------------------------------------------------------
// Base containers
// -----------------------------------------------------------------
.o-container, .o-container-full {
  background-color: $color-bg-light;
  margin-left: auto;
  margin-right: auto;
}

// Media object
.o-media {
  background-color: $color-bg-light;
}