// -----------------------------------------------------------------
// Base containers
// -----------------------------------------------------------------
.o-container, .o-container-full {
  background-color: $color-bg-light;
  box-shadow: $shadow-s;
  margin-left: auto;
  margin-right: auto;
}

// Media object
.o-media {
  background-color: $color-bg-light;
}

.o-container--table {
  background: $color-bg-light;
  padding: $space-l;
}