// -----------------------------------------------------------------
// Images
// -----------------------------------------------------------------
// Make images easier to work with
img {
  display: block;
  height: auto;
  max-width: 100%;
}