/* --------------------------------------------------------------------
  Box sizing
----------------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* --------------------------------------------------------------------
  Body
----------------------------------------------------------------------*/
// Set base font-size
body {
    background: $color-bg;
    font-size: $font-size-base;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    padding: 2em;
}

/* --------------------------------------------------------------------
  Images
----------------------------------------------------------------------*/
// Make images easier to work with
img {
  display: block;  
  max-width: 100%;
}

/* --------------------------------------------------------------------
  Table
----------------------------------------------------------------------*/
caption {
  font-size: $font-size-display-5;
  font-weight: $font-weight-bold;
  text-align: left;
  margin: $space-stack-default;
}

table {
  font-size: $font-size-base;
  width: 100%;
  text-align: left;
  thead,
  tbody,
  tfoot {
    td,
    th {
      padding: $space-inset-stretch-s;
      border-bottom: $border-table;
    }
  }
}